<div class="container-fluid d-flex justify-content-center align-items-center vh-100">
  <div class="card text-center shadow-lg p-3 custom-card">
    <div class="card-body">
      <h1 class="card-title">Welcome to the system!</h1>
      <p class="card-text">
        This site is a demonstration of my skills as a developer, created for a technical exam. Please feel free to explore all the functionalities I have implemented. Thank you for being here and evaluating my work!
      </p>
    </div>
  </div>
</div>
