<div class="container-fluid d-flex justify-content-center align-items-center vh-100">
  <div class="card text-center shadow-lg p-3 custom-card">
    <div class="card-body">
      <h1 class="card-title">Welcome to the system!</h1>
      <p class="card-text">
        "This site showcases my skills as a developer and was created for a technical exam. Please feel free to explore all the functionalities I’ve implemented. Thank you for visiting and taking the time to evaluate my work!"
      </p>
    </div>
  </div>
</div>
