<div class="center-container">
  <div class="card">
    <p class="h4 mb-3">Chess</p>
    <form [formGroup]="chessForm" (ngSubmit)="onSubmit()">
      <app-input-text-area [id]="'1'" [formGroup]="chessForm"></app-input-text-area>
      <div class="d-flex justify-content-end mt-3">
        <button type="submit" class="btn btn-primary">
          Calculate
        </button>
      </div>
      <div class="mt-4">
        <app-show-result [id]="'1'" [data]="output"></app-show-result>
      </div>
    </form>
  </div>
</div>
